<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Risk in Early Design | {% block title %} {% endblock %}</title>

  <link href="{{MEDIA_URL}}css/default.css" rel="stylesheet" type="text/css" />
  {% block css %}
  {% endblock %}

  {% block js %}
  {% endblock %}

</head>

<body>
  <div class="title"><h1>Risk in Early Design</h1></div>
  <div class="links">
    <ul class="left">
      <li><a href="{% url red-index %}">Home</a></li>
      <li><a href="{% url red-display-all-matrices %}">Matrices</a></li>
      <li><a href="{% url red-upload %}">Upload</a></li>
      <li><a href="/help/">Help</a></li>      
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
