{% extends "base.html" %}

{% block title %}Fever Chart{% endblock %}

{% block content %}
<p>{{ pd_pretty }} Report</p>
<div class="functions">
<lh>Functions Selected</lh>
<ul>
{% for func in functions %}
   <li>{{func}}</li>
{% endfor %}

</ul>
</div>

<div class="report">
<div class="inner">Likelihood</div>
<div class="chart">
<table>
{% for row in report %}
<tr>
{% for el, severity in row %}
<td class="{{ severity }}"> {{ el }} </td>
{% endfor %}
</tr>
{% endfor %}
<tr>
  <td colspan=5><b>Consequence</b></td>
</tr>
</table>
<p><a href="{% url red-text-report id pd %}">Download Overview</a></p>
<p><a href="{% url red-xls-report id pd %}">Download Sortable Report</a></p>
</div>
</div>
{% endblock %}
