{% extends "base.html" %}

{% block title %}Fever Chart{% endblock %}

{% block content %}
<div class="report">
<p>{{ pd_pretty }}</p>
<table>
<tr>
  <td class="side" rowspan=6>
    <div class="inner">Likelihood</div>
  </td>
  <th colspan=5>Consequence</th>
</tr>
{% for row in report %}
<tr>
{% for el, severity in row %}
<td class="{{ severity }}"> {{ el }} </td>
{% endfor %}
</tr>
{% endfor %}
</table>
</div>

<p><a href="{% url red-text-report id pd %}">Download Text Report</a></p>
{% endblock %}
