{% extends "base.html" %}

{% block title %}Function Choices{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jsi18n.js"></script>
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}js/SelectFilter2.js"></script>
<link href="{{MEDIA_URL}}css/functions.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<p>Choose the Functions to Use.</p>
<form method="post"
      action="{% url red-display-functions id pd %}">
<div class="function-choice">
{{ form.as_p }}
</div>
<div class="protip clear">Hold control (or command on Mac) to select multiple functions. Hold shift to select areas.</div>
<input id="function-submit" type="submit" value="Generate Report" />
</div>
</form>

{% endblock %}
